body, html
  height auto
  width 100%
  background #fff
  font-family Avenir, Helvetica, Arial, sans-serif
  font-size 14px
  font-style normal
  font-weight 400
  color #555

#app
  width inherit
  height inherit
  display flex
  flex-flow column nowrap